.wrapper {
  width: 100%;
  height: 100%;
  background: url('../../assets/test-bg.png') center center no-repeat;
  background-size: cover;
}

.login {
  padding-top: 115px;
  padding-bottom: 104px;
  display: flex;
  justify-content: center;
}

.card {
  width: 554px;
  height: 100%;
  padding: 24px 37px 45px;
  background: #FFFFFF;
  border-radius: 38px;

  &__back {
    width: 60px;
    height: 60px;
    background: #3672E9;
    border-radius: 32px;
    margin-right: auto;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
    color: #0D0D0D;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }

  &__subtitle {
    text-align: center;
    color: #999999;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
  }
}

.form {
  padding: 42px 71px 0 71px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &_text {
      text-align: center;
      letter-spacing: -0.011em;
      font-size: 16px;
      line-height: 24px;
      color: #A0A0A0;

      &:hover {
        cursor: pointer;
        color: #00a5d5;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .form {
    padding: 42px 50px 0 50px;
  }
  .login {
    padding-top: 35px;
    padding-bottom: 60px;
  }
  .card {
    border-radius: 38px;

    &__back {
      width: 32px;
      height: 32px;
      margin-bottom: 30px;
    }
  }
}

//
//@media only screen and (max-width: 425px) {
//  .form {
//    padding: 36px 0 0 0;
//  }
//  .login {
//    padding-top: 20px;
//    padding-bottom: 60px;
//  }
//  .card {
//    width: 320px;
//    padding: 24px 26px 48px;
//
//    &__back {
//      width: 32px;
//      height: 32px;
//      margin-bottom: 30px;
//    }
//
//    &__title {
//      font-size: 24px;
//      line-height: 36px;
//    }
//
//    &__subtitle {
//      font-size: 14px;
//      line-height: 21px;
//    }
//  }
//}

@media only screen and (max-width: 425px) {
  .form {
    padding: 10px 0 0 0;
  }

  .login {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .card {
    width: 300px;
    padding: 12px 15px 20px;

    &__back {
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
    }
  }

}
