.user-container {
  background-color: #0D0D2B;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;
}


.user {
  padding: 0 150px;
  position: relative;
  background-color: #0D0D2B;

  &_box {
    padding: 74px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__bg {
    background-image: url("../../assets/userBg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-border {
    padding: 52px 0 41px;
    background-image: url("../../assets/borderUser.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &-back {
    top: 105px;
    left: 250px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: #3672E9;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-avatar {
    width: 200px;
    height: 200px;
  }

  &-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    color: #D1DFFA;
  }

  &-name {
    margin: 20px 0 12px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
  }
}
